<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMathService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/MathService" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IMathService" contract="IMathService"
          name="WSHttpBinding_IMathService">
        <identity>
          <userPrincipalName value="v-tazho@fareast.corp.microsoft.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>
